{% extends 'layout.html' %}

{% block title %}ziroom | 个人空间{% endblock %}

{% block content %}
  <div id="content">
    <div class="main-container container-fluid">
      <div class="col-md-3 col-sm-6 server clear-server">
        <i class="img"></i>
        <div>保洁预约</div>
      </div>
      <div class="col-md-3 col-sm-6 server maintain-server">
        <i class="img"></i>
        <div>日常维修</div>
      </div>
      <div class="col-md-3 col-sm-6 server recyc-server">
        <i class="img"></i>
        <div>废物回收</div>
      </div>
      <div class="col-md-3 col-sm-6 server pay-server">
        <i class="img"></i>
        <div>缴费</div>
      </div>
    </div>
  </div>
{% endblock %}
