{% extends 'layout.html' %}

{% block title %}ziroom{% endblock %}

{% block header %}
  <div class="default-nav">
    {% block navbar %}
    <nav class="navbar navbar-default">
  	    <div class="container-fluid">
	  	  	<div class="navbar-header">
	            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-default">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
	            </button>
	  	  		<a href="#" class="navbar-brand">
	  	  			<img src="images/logo-orange.png" alt="ziroom">
	  	  		</a>
	  	  	</div>
  	  	<div class="collapse navbar-collapse" id="navbar-default">
  	  		<ul class="nav navbar-nav navbar-right">
  	  			<li class="signin" data-toggle="modal" data-target="#sigin">注册</li>
  	  			<li class="login" data-toggle="modal" data-target="#login">登录</li>
  	  		</ul>
  	  	</div>
  	  </div>
  	</nav>
    {% endblock %}
  </div>
{% endblock %}

{% block content %}
  <p>This is just an awesome page.</p>
{% endblock %}
